<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<label for="">账号：</label>
	<input type="text" class="xa-name">
	<label for="">密码：</label>
	<input type="text" class="xa-password">
	<button class="xa-submit">登陆</button>
	<script type="text/javascript" src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript">
		
		// var $submitBtn = $('.xa-submit');
		// $submitBtn.click(function(){
		// 	var name = $('.xa-name').val();
		// 	var password = $('.xa-password').val();
		// 	$.ajax({
  //               cache: true,
  //               type: "PUT",
  //               url:ajaxCallUrl,
  //               data:{
  //               	name:name,
  //               	password:password
  //               },
  //               async: false,
  //               error: function(request) {
  //                   alert("Connection error");
  //               },
  //               success: function(data) {
  //                   alert(登陆成功)
  //               }
  //           });
		// });
	</script>
</body>
</html>